* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(./assets/img/fondo_tecnologico.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden; // SCROLL PARA QUE NO SE MUESTRE
  overflow-y: hidden;
}

app-root {
  width: 100%;
  height: 100%;
}
